@keyframes fadeInRightBlur {
    0% {
      opacity: 0;
      transform: translateY(0px);
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }
  
  .animate-fade-in {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-40px);
    transition: all 0.2s ease;
  }
  
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-fade-opacity {
    opacity: 0;
    transition: opacity 0.3s ease;
  }