/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
  /* Couleurs globales */
  --global-color-white: #ffffff;
  --global-color-black: #1a1a1a;
  --global-color-background: rgb(255, 255, 255);
  --global-color-gray: #cecece;
  --global-color-dark-gray: #383838;
  --global-color-light-gray: #555;
  --global-color-dark: rgba(27, 27, 27, 0.95);
  --global-color-blue: rgb(5, 115, 188);
  --global-color-sage: rgb(162, 151, 126);
  --global-color-sage-dark: rgb(147, 137, 114);
  --global-color-sage-deep: rgb(132, 123, 102);
  ;


  /* Tailles de police responsives */
  --font-xs: clamp(0.8rem, 1vw, 0.9rem);
  --font-sm: clamp(0.935rem, 1.2vw, 1rem);
  --font-md: clamp(1rem, 1.5vw, 1.05rem);
  --font-lg: clamp(1.25rem, 2vw, 1.5rem);
  --font-xl: clamp(1.75rem, 3vw, 2.4rem);
  --font-xxl: clamp(2.5rem, 5vw, 3.2rem);
  --font-hero: clamp(3rem, 7vw, 3.8rem);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Cabin', sans-serif;
  background: #e8ddcc; /* Fond blanc visible autour de la navbar */
  color: #333;
  margin: 0;
}

.section-grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8rem 1rem;
}

.feature-tag{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 0.5rem;
    letter-spacing: .5px;
    padding: .6rem 1.2rem;
    border: 1px solid #5e5e5e;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5rem;
}

.container{
  margin: 0 auto;
  padding: 1rem;
  border-radius: 2rem; /* réduit un peu pour un rendu plus réaliste */
  overflow: hidden; /* IMPORTANT : clip tout ce qui dépasse */
}

/* Navbar container */
.navbar {
  position: absolute;
  top: 2rem; /* Pour qu’il y ait un petit espace blanc autour */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  
  
  z-index: 1000;
}

/* Partie gauche : logo + liens */
.nav-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 600;
  border-right: solid 1px rgb(234, 234, 234, 0.6);
  padding-right: 2rem;
  letter-spacing: 0.5px;
  color: #fff;
}

/* Liens */
.nav-center {
  display: flex;
  gap: 1.5rem;
}

.nav-center a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #eaeaea;
  transition: color 0.3s ease;
}

.nav-center a:hover {
  color: #D4AF37; /* Accent doré luxe */
}

/* Bouton à droite */
.nav-right {
  display: flex;
  align-items: center;
}

.button {
  padding: 1rem 1.6rem;
  background: var(--global-color-sage); /* Vert sauge */
  color: #e8ddcc;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.button img, .button2 img {
  width: 20px;
  height: 20px;
}

.button:hover {
  background-color: var(--global-color-sage-deep);
}

.button2 {
  padding: 1rem 1.6rem;
  background: #e8ddcc; /* Accent doré luxe */
  color: var(--global-color-sage-deep);
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: background 0.3s ease;
    display: flex;
  align-items: center;
  gap: .5rem;
}

.button2:hover {
  background-color: #d9cebb;
}


.instagram-link i{
    color: #e8ddcc;
    font-size: 3rem;
    margin-left: 1rem;
}

/* Hero section */
.hero {
  position: relative;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
    border-radius: .7rem; 
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1510798831971-661eb04b3739?auto=format&fit=crop&w=2400&q=80");
  background-size: cover;
  background-position: center;
  z-index: 0;
  border-radius: .7rem; 
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); /* Overlay noir */
  z-index: 1;
    border-radius: .7rem; 
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 10vw;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  color: #e8ddcc;
}


.hero p {
  font-size: 1.2rem;
  max-width: 700px;
  margin-bottom: 2rem;
  color: #ddd;
  line-height: 1.5;
}

.hero-buttons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.buttons a {
  padding: 0.8rem 1.6rem;
  background: var(--global-color-sage-deep);
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.buttons a:hover {
  background: var(--global-color-sage-dark);
}
